export(dfm)
export(gen_news)
export(predict_dfm)
import(dplyr)
import(matlab)
importFrom(pracma,blkdiag)
importFrom(pracma,cubicspline)
importFrom(pracma,eps)
importFrom(pracma,inv)
importFrom(pracma,kron)
importFrom(pracma,pinv)
importFrom(signal,filtfilt)
importFrom(stats, cov)
importFrom(stats, median)
importFrom(stats, sd)
importFrom(stats, var)